{{template "base"}}

<div class="container">
    <h2 class="mb-4">{{.First}}</h2>
    <p class="mb-3">Total Workouts for 2022: 65</p>
    <p>Let's break the numbers down by exercise</p>
</div>

{{template "footer"}}

