{{template "base"}}

{{if .First}}
USER NAME {{.UserName}}<br>
PASSWORD {{.Password}}<br>
FIRST {{.First}}<br>
LAST {{.LAST}}
{{else}}
<h2><a href="/signup"> sign up </a></h2>
<h2><a href="/signin"> log in </a></h2>
{{end}}
<img src="/resources/images/hero.jpg" alt="dumbells on rack">
<br>
<h2>Go to <a class="linkToDash" href="/bar"> the bar</a></h2>
{{template "footer"}}