{{template "base"}}

<h1>{{.Data.Date}}</h1>
<div>


</div>


{{/* data.append("description", document.getElementById("description").value);
    data.append("sets", document.getElementById("sets").value);
    data.append("reps", document.getElementById("reps").value); */}}

{{template "footer"}}